<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Video Game Logger</title>
  </head>
  <body>
    <div class="grid-container">
      <%- include("header.ejs") %>
      <main>
        <% if(!locals.games) {%>
        <h1 id="welcome_text" class="quicksand">
          Welcome David.<br /><br />You have no games logged yet.
        </h1>

        <!-- Log a Game Modal -->
        <div id="modal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <span
                id="closeModal"
                onclick="document.getElementById('modal-dialog').style.display = 'none';"
                class="close"
                data-bs-dismiss="modal"
                >&times;</span
              >
              <form id="modalForm" method="post" autocomplete="off">
                <div id="row1" class="row mb-3">
                  <label class="col-sm-5 col-form-label">Game Name:</label>
                  <input
                    type="text"
                    id="gameInput"
                    name="gameName"
                    class="autocomplete-list"
                    placeholder="Search for a game..."
                    autocomplete="off"
                  />
                  <input
                    type="hidden"
                    id="gameUrl"
                    name="gameUrl"
                    autocomplete="off"
                  />
                  <div id="autocompleteResults"></div>
                </div>

                <div id="row2" class="row mb-3">
                  <label for="inputReview" class="col-sm-5 col-form-label"
                    >Review:</label
                  >
                  <textarea
                    class="form-control"
                    name="textReview"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 100px"
                  ></textarea>
                </div>
                <div id="row3" class="row mb-3">
                  <label for="rating" class="col-sm-5 col-form-label"
                    >Rate this game:</label
                  >
                  <div class="rating">
                    <!-- Notice that the stars are in reverse order -->
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2">&#9733;</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1">&#9733;</label>
                  </div>
                </div>
                <div id="row4" class="row mb-3">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="SUBMIT"
                    formaction="/add"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <% }else{ %>
        <!-- if there's no games logged, perform the code block below -->

        <div id="games-container">
          <!-- Game Entries -->
          <% games.forEach( game => { %>
          <a
            data-bs-id="<%= game.id %>"
            data-bs-rating="<%= game.rating %>"
            data-bs-review="<%= game.review_text %>"
            data-bs-toggle="modal"
            data-bs-target="#viewGameModal"
          >
            <div id="game-card">
              <img
                id="<%= game.id %>"
                src="<%= game.game_cover %>"
                alt="<%= game.game_name %>"
              />
              <p id="game-title"><%= game.game_name %></p>
            </div>
          </a>

          <!-- View a Game w/ Action Btns-->
          <div id="viewGameModal" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <span
                  id="closeModal"
                  onclick="document.getElementById('modal-dialog').style.display = 'none';"
                  class="close"
                  data-bs-dismiss="modal"
                  >&times;
                </span>

                <!-- display game's review -->
                <div id="game-review"></div>

                <!-- textarea input not visible initially -->
                <textarea
                  id="edit-game-review"
                  class="form-control"
                  style="display: none"
                ></textarea>

                <!-- action buttons -->
                <div id="actionBtns">

                  <!-- edit button -->
                  <button class="actionBtns" id="editBtn">Edit</button>

                  <!-- save button -->
                  <!-- save button isnt visible initally-->
                  <button class="actionBtns" id="saveBtn" style="display: none">
                    Save
                  </button>

                  <!-- cancel button -->
                   <!-- cancel button isnt visible initially  -->
                  <button
                    class="actionBtns"
                    id="cancelBtn"
                    style="display: none"
                  >
                    Cancel
                  </button>

                  <!-- delete button -->
                  <form action="/delete" method="POST" id="deleteGameRevEntry">
                    <button type="submit" class="actionBtns" id="deleteBtn">
                      Delete
                    </button>
                    <input type="hidden" id="editItem" name="editItem" />
                  <input type="hidden" id="gameId" name="gameId" />
                  </form>

                </div> <!--end of #actionBtns -->

                <!-- edit button -->
                 <!-- sends edited data to the backend -->
                <form action="/edit" method="POST" id="editForm">
                  <input type="hidden" id="editItem" name="editItem" />
                  <input type="hidden" id="gameId" name="gameId" />
                </form>

              </div>
            </div>
          </div>

          <% });%>
        </div>

        <!-- Log a Game Modal -->
        <div id="modal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <span
                id="closeModal"
                onclick="document.getElementById('modal-dialog').style.display = 'none';"
                class="close"
                data-bs-dismiss="modal"
                >&times;</span
              >
              <form id="modalForm" method="post" autocomplete="off">
                <div id="row1" class="row mb-3">
                  <label class="col-sm-5 col-form-label">Game Name:</label>
                  <input
                    type="text"
                    id="gameInput"
                    name="gameName"
                    class="autocomplete-list"
                    placeholder="Search for a game..."
                    autocomplete="off"
                  />
                  <input
                    type="hidden"
                    id="gameUrl"
                    name="gameUrl"
                    autocomplete="off"
                  />
                  <div id="autocompleteResults"></div>
                </div>

                <div id="row2" class="row mb-3">
                  <label for="inputReview" class="col-sm-5 col-form-label"
                    >Review:</label
                  >
                  <textarea
                    class="form-control"
                    name="textReview"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 100px"
                  ></textarea>
                </div>
                <div id="row3" class="row mb-3">
                  <label for="rating" class="col-sm-5 col-form-label"
                    >Rate this game:</label
                  >
                  <div class="rating">
                    <!-- Notice that the stars are in reverse order -->
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2">&#9733;</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1">&#9733;</label>
                  </div>
                </div>
                <div id="row4" class="row mb-3">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="SUBMIT"
                    formaction="/add"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>

        <% } %>
      </main>
      <%- include("footer.ejs") %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
